{% capture collectionHandle %}{%- if collection %}{{collection.handle}}{%endif%}{% endcapture %}
<div class="all-products-menu-container">
  {% assign menu_names = "tops calcinhas maios" | split: ' ' %}
  {% for menu_name in menu_names %}
    <div class="all-products-menu-{{ menu_name | handleize }}">
      {% assign menu = linklists[menu_name] %}
      <div class="all-products-title">{{ menu.title }}</div>
  
      <ul>
        {% for link in menu.links %}
          <li class="product-link-li {% if link.active %} product-link-li--active {% endif %}">
            {% if collectionHandle != blank %}
              {% capture linkUrl %}{{link.url | replace: 'todos', collectionHandle }}{% endcapture %}
            {% else %}
              {% assign linkUrl = link.url %}
            {% endif %}
            <a href="{{ linkUrl }}"
              class="product-link-a {% if link.active %} product-link-a--active{% endif %}"
              {% if link.active %} aria-current="page"{% endif %}
            >
              <div class="product-icon-placeholder">
                {% capture iconTemplate %}{{ menu_name }}-{{ link.title | handleize }}{% endcapture %}

                {% capture the_snippet_content %}{% include iconTemplate %}{% endcapture %}
                {% unless the_snippet_content contains "Liquid error" %}
                  {% include iconTemplate %}
                {% else %}
                  <div class="product-icon-placeholder--empty"> </div>
                {% endunless %}
              </div>
              <div class="product-link-text">
                {{ link.title | escape }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>