<div class="size-selector">
  <div class="size-selector__label">
    Filtre aqui a disponibilidade das peças no seu tamanho:
  </div>

  {% assign tagsPath = '' %}
  {% if collection.tags.size == 2 %}
  {% for tag in collection.tags %}
    {% capture tagsPath %}{% if forloop.first == false %}{{ tagsPath }}+{% endif %}{{ tag }}{% endcapture %}
  {% endfor %}
  {% endif %}

  <nav class="size-selector__sizes">
    <div class="size-selector__size">
      <a href="/collections/p/{{ tagsPath }}">P</a>
    </div>
    <div class="size-selector__size">
      <a href="/collections/m/{{ tagsPath }}">M</a>
    </div>
    <div class="size-selector__size">
      <a href="/collections/g/{{ tagsPath }}">G</a>
    </div>
    <div class="size-selector__size">
      <a href="/collections/gg/{{ tagsPath }}">GG</a>
    </div>
    <div class="size-selector__size">
      <a href="/collections/eg/{{ tagsPath }}">EG</a>
    </div>
    <div class="size-selector__size">
      <a href="/collections/egg/{{ tagsPath }}">EGG</a>
    </div>
  </nav>

  <div class="size-selector__label">
    <a href="/pages/tabela-de-medidas">Dúvidas? Dá um confere na nossa tabela.</a>
  </div>

  <div class="aro-symbol--ss">
    <a class="icon-link" href="/">{% render 'aro-symbol-cat-page' %}</a>
  </div>
</div>
