<div class="">
  <div class="section-header">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="rte">
   {{page.content}} <div  id='ZoomyWishlistPage'></div><script src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}' data-customer-id='{{customer.id}}' data-customer-email='{{customer.email}}' ></script>

  </div>
</div>
